.button {
  padding: 9px 17px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  &.white {
    background: #ffffff;
    border: 1px solid #d1d5db;
    color: #374151;
  }
  &.indigo {
    background: #4f46e5;
    border: none;
    color: #ffffff;
  }

  &.blue {
    background: #e0e7ff;
    border: none;
    color: #4338ca;
  }
}
