.cardWrapper {
  width: 286px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  /* /shadow/base */

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  .top {
    margin-top: 32px;
    display: flex;
    align-items: center;
    flex-direction: column;
    .img {
      width: 128px;
      height: 128px;
      position: relative;
      border-radius: 50%;
      img {
        border-radius: 50%;
      }
    }
    h3 {
      margin-top: 24px;
      font-family: "Inter";
      font-weight: 300;
      font-size: 14px;
      line-height: 20px;
      color: #6b7280;
    }
    h2 {
      font-family: "Inter";
      font-weight: 500;
      font-size: 20px;
      line-height: 20px;
      color: #111827;
      margin-bottom: 36px;
    }
  }
  .bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
