@use "../../styles/mixins.scss" as mixin;

.containerTop {
  max-width: 768px;
  margin: auto;
  .header {
    margin-top: 81px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: mixin.$gray900;
  }
  .headerInfo {
    margin-top: 4px;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #6b7280;
  }
  .inputPhoneWrapper {
    margin-top: 24px;
    label {
      font-family: "Inter";
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: #374151;
    }
    .inputPhone {
      margin-top: 4px;
      display: flex;
      .phoneInfo {
        padding: 9px 12px 9px 13px;
        background: #f9fafb;
        border: 1px solid #d1d5db;
        border-radius: 6px 0px 0px 6px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
        color: #6b7280;
      }
      input {
        padding: 9px 13px 9px 12px;
        width: 452px;
        background: #ffffff;
        border-radius: 0px 6px 6px 0px;
        font-family: "Inter";
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
        color: #bfbfbf;
        border: none;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
        border: 1px solid #d1d5db;
      }
    }
  }
  .inputPasswordWrapper {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    label {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
    }
    .passwordWrapper {
      margin-top: 4px;
      position: relative;
      width: fit-content;
      .icon {
        position: absolute;
        right: 13px;
        top: 9px;
        cursor: pointer;
      }
      input {
        padding: 9px 13px;
        width: 504px;
        height: 38px;
        background: #ffffff;
        border: 1px solid #d1d5db;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
        border-radius: 6px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
        color: #bfbfbf;
      }
    }
    p {
      margin-top: 4px;
      font-weight: 300;
      font-size: 14px;
      line-height: 20px;
      color: #6b7280;
    }
  }
  .line {
    background-color: #e5e7eb;
    height: 1px;
    width: 100%;
    margin-top: 32px;
  }
  .buttonWrapper {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    .left {
      display: flex;
      gap: 12px;
    }
  }
  .errors {
    margin-top: 4px;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: red;
  }
}
.containerBottom {
  max-width: 1280px;
  margin: auto;
  .middleText {
    position: relative;
    margin-top: 62px;
    .line {
      width: calc(100% - 64px);
      height: 1px;
      background: #d1d5db;
      margin: 0 auto;
    }
    button {
      position: absolute;
      top: 0;
      transform: translate(-50%, -50%);
      left: 50%;
      font-family: "Inter";
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
      color: #979797;
      padding: 0 12px;
      border: none;
      background-color: #fff;
      cursor: pointer;
    }
  }

  .search {
    margin-top: 48px;
    margin-left: 32px;
    position: relative;
    .searchIcon {
      position: absolute;
      top: 9px;
      left: 13px;
      width: 24px;
      height: 24px;
    }
    input {
      font-family: "Inter";
      font-weight: 300;
      font-size: 14px;
      line-height: 20px;
      color: #bbbbbb;
      padding: 11px 45px;
      background: #ffffff;
      border: 1px solid #d1d5db;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
      border-radius: 6px;
    }
  }
  .emptyWrapper {
    margin: 48px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
      font-family: "Inter";
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      letter-spacing: 0.32px;
      color: #667085;
    }
  }

  .cardWrapper {
    margin: 48px 32px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 24px;
  }
}
