.inputWrapper {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  label {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }
  input {
    margin-top: 4px;
    padding: 9px 13px;
    height: 38px;
    background: #ffffff;
    border: 1px solid #d1d5db;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #bfbfbf;
  }

  &.medium {
    input {
      width: 504px;
    }
  }
  &.large {
    input {
      width: 100%;
    }
  }
}
