.sectionWrapper {
  path {
    // fill: #4b5563;
    fill: #e54b41;
  }

  position: relative;
  .line {
    width: 100%;
    height: 1px;
    background-color: #e5e7eb;
    position: absolute;
  }
  .redLine {
    width: 100%;
    height: 5px;
    position: absolute;
    top: -4px;
  }
  .section {
    cursor: pointer;
    width: 47.5px;
    height: 57px;
    display: flex;
    align-items: center;
    justify-content: center;
    .icon {
      position: relative;
      width: 24px;
      height: 24px;
    }
  }
  &.active {
    svg {
      // fill: #e54b41;
      path {
        fill: #4b5563;
        fill: #e54b41;
      }
    }
  }
}
